{% extends 'invApp/layout.html' %}

{% block title %} Product List {% endblock %}

{% block content %}
    <h3 class="text-center">Products</h3>
    <table class="table text-center table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Supplier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.sku}}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity}}</td>
                    <td>{{ product.supplier}}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'product_update' product.product_id %}">Update</a>
                        <a class="btn btn-danger" href="{% url 'product_delete' product.product_id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}